
/*=============
    common css
 ============== */
body{
    margin:0 auto;
    font-family: 'Poppins', sans-serif;
}
.main{
    width: 1321px;
    margin: 50px 100px;
   
}

/*==================
    hero section css
 =================== */
.hero-container{
    background-color: #183153;
    padding: 33px 80px 0px ;
    margin: 5% 10%;
    border-radius:5px
    
}
.flex-container{
    display: flex;
}
.half-width{
    width: 50%;
}
.hero-info{
color: aliceblue;
}
.hero-info h1{
    font-weight: 700;
    font-size: 5vw;
}
.link-button{
    padding: 15px 20px;
    background-color: rgb(252, 22, 80);
    border-radius: 5px;
    border:none;
    
}
.link-button:hover{
    background-color: rgb(252, 118, 22);
}
.link-button a{
    text-decoration: none;
    color: aliceblue;
    font-size: 16px;
    font-weight: 600;
}
.hero-banner img{
    width: 100%;
    height: aut;
  
    
}

/* match-section style start */
.grid-container{
    display: grid;
    grid-template-columns: 312px 1fr ;
    grid-column-gap:24px;
    margin: 5% 10%;

}
.aside-navigation{
    width: 312px;
    height: 312px;
    background-color: #183153;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.side-button{
    padding:20px;
    border-radius: 5px;
    border: none;
    background-color:aliceblue;
    margin: 15px;
}
.side-button a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 20px;

}
.aside-navigation button:active{
    background-color: rgb(252, 22, 80);
    
}
.aside-navigation button a:active{
    color: aliceblue;
}


.match-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;

}
.match{
    border: 1px solid #183153;
    border-radius: 5px;
}
.match-banner img{
    width: 100%;
}
.match-info{
    padding-left: 20px;
}

/* match-section style end */

/* footer-section style start */
.footer-area{
    background-color: #183153;
    text-align: center;
    padding: 80px 0;
    color: aliceblue;
}
.footer-title{
    
    margin: 50px 0;
}
hr{
    margin: 5% 10%;
}
.footer-button{
    margin: 50px 0;
}
.footer-button a{
    font-size: 16px;
    text-decoration: none;color: aliceblue;
    margin-right: 20px;
    font-weight: 500;

}

.social-icon{
    font-size: 35px;
}
.social-icon a{
    text-decoration: none;
    color: aliceblue;
}

/* upcomming html match style */
.match-grid-container{
    display: flex;
    grid-template-columns: 1fr auto 1fr;
}

.match-banner img{
    width: 100%;
}
/* small device reponsive */
@media only screen and (max-width: 576px) {
    .flex-container{
        display: flex;
        flex-direction: column;}

    

    .grid-container{
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        grid-column-gap:24px;
        margin: 5% 10%;
    
    }
    .aside-navigation{
        display: grid;
        flex-direction:column;
        width: auto;
        margin-bottom: 24px;
    }
    .match-card{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .footer-button{
        display: grid;
        grid-template-columns: 1fr;
    }

}
/* medium device reponsive */
@media (min-width: 600px) and (max-width: 768px) {

    .flex-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);

    }
    .flex-container h1{
        font-size: 4vw;
    }
    .aside-navigation{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        margin-bottom: 24px;
        width: auto;
        height: auto;

        

    }
    .grid-container{
        display: grid;
        flex-direction: column;
        grid-template-columns: 1fr;

    }
    .match-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
  }